@model PagedList.IPagedList<ManageOffers>
@using PagedList
@using PagedList.Mvc
@using WebJobPortal.Models
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <form>
            <center>
                @Html.TextBox("SearchingString")
                <input class="btn btn-light" type="submit" value="Search" />
                @if (User.Identity.GetUserId() != null)
                {
                    <div class="form-check">
                        <p>Show in your region  </p>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" @if (Request.Url.ToString().Contains("showInRegion=true")) { <text> checked</text>} />

                    </div>

                }

            </center>
        </form>
    </div>
</div>
<div>
    <table class="serviceOfferTable" align="center">
        <colgroup>
            <col class="col-md-4">
            <col class="col-md-4">
            <col class="col-md-4">
        </colgroup>
        @Html.Partial("Offers", Model)
    </table>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
        $('#exampleCheck1').click(function () {

            if ($("#exampleCheck1").is(':checked')) {
                var path = '@Url.Content("~/ServiceOffer/"+ @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() +"")' + "?showInRegion=true";
                window.location.href = path;
            }
            else {
                var path = '@Url.Content("~/ServiceOffer/"+ @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() +"")' + "?showInRegion=false";
                window.location.href = path;
            }
    });
</script>


