@model MyWeb.Models.ShoppingCardView
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<section class="ShoppingCard">
    <div class="header" style="margin-bottom:auto">
        <h1> Your shopping card</h1>
    </div>


    <table id="yShoppingCard">

        @if (Model.Card != null)
        {
            <h3> The shopping card is empty </h3>
        }
        else
        {
            foreach (var itemInShoppingcard in Model.Card.List)
            {

                <tr>

                    <td> Title: @itemInShoppingcard.Title </td>
                    <td> Description: @itemInShoppingcard.Description </td>
                    <td> Day: @itemInShoppingcard.WeekDay </td>
                    <td> Hour from: @itemInShoppingcard.HoursFrom</td>
                    <td> Hour to @itemInShoppingcard.HoursTo </td>
                    <td> Rate per hour: @itemInShoppingcard.RatePerHour </td>
                    <td> Price: @(@itemInShoppingcard.RatePerHour * ((@itemInShoppingcard.HoursTo - @itemInShoppingcard.HoursFrom).Hours))</td>
                    <td> @Html.ActionLink("Delete", "Delete", new { id = itemInShoppingcard.Id, idU = User.Identity.GetUserId() })</td>
                </tr>
            }
            <div id="tPrice">
                Order price: @Model.Card.GetTotalPrice()
            </div>
        }





    </table>
   
</section>

