@model MyWeb.Models.ShoppingCardView
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ShoppingCard">
    <div class="header" style="margin-bottom:auto">
        <h1> Your shopping card</h1>
    </div>


    <table id="yShoppingCard">
        @foreach (var itemInShoppingcard in Model.Card.List)
        {

        <tr>
            <td> Title: @itemInShoppingcard.Title </td>
            <td> Description: @itemInShoppingcard.Description </td>
            <td> Day: @itemInShoppingcard.WeekDay </td>
            <td> Date: @itemInShoppingcard.Date.Date.ToShortDateString()</td>
            <td> Hour from: @itemInShoppingcard.HoursFrom</td>
            <td> Hour to @itemInShoppingcard.HoursTo </td>
            <td> Rate per hour: @(decimal.Round(itemInShoppingcard.RatePerHour,2, MidpointRounding.AwayFromZero)) DKK</td>
            <td> Price: @((decimal.Round((@itemInShoppingcard.RatePerHour * (@itemInShoppingcard.HoursTo-@itemInShoppingcard.HoursFrom).Hours), 2, MidpointRounding.AwayFromZero))) DKK</td>
            <td> @(@Html.ActionLink("Delete", "DeleteFromCard", "Order", new {idU = User.Identity.GetUserId(), id = @itemInShoppingcard.Id, date = @itemInShoppingcard.Date, from = @itemInShoppingcard.HoursFrom, to = @itemInShoppingcard.HoursTo }, null))</td>
        </tr>
        }
        <tr id="empty-message" @if (Model.Card != null && Model.Card.List.Count > 0) { <text> class="hidden" </text> }>
            <td> The shopping card is empty </td>
        </tr>
    </table>
    <div id="tPrice">
        Order price: @(decimal.Round(Model.Card.GetTotalPrice(), 2, MidpointRounding.AwayFromZero)) DKK
    </div>
</section>

