@model WebJobPortal.Models.ChangeDescriptionViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "AddDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <h4>Description</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "width:350px; height:200px" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="buttons" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to profile", "UserProfile", new { id = User.Identity.GetUserId() })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
