@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
                <div class="topnav" id="myTopnav">


                    <a href="~/ServiceOffer/Index"><img src="~/Pictures/logo.png" alt="logo" id="logo" style="width:auto;height:40px;border:0;"></a></li>

                    <a href="~/ServiceOffer/Home">Home</a>


                    <a href="~/ServiceOffer/Tutoring">Tutoring</a>


                    <a href="~/ServiceOffer/IT">IT</a>


                    <a href="~/ServiceOffer/Repairs">Repairs</a>


                    <a href="~/ServiceOffer/Architecture">Architecture</a>


                    <a href="~/ServiceOffer/Media">Media</a>


                    @Html.ActionLink("Shopping card", "Index", "Order", new { id = User.Identity.GetUserId() }, null)


                    @Html.Partial("_LoginPartial")
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer>
        <p>&copy; @DateTime.Now.Year - JobPortal</p>
    </footer>
</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</html>
