@model MyWeb.Models.ManageOffers[]
@using MyWeb.Models
@{
    var counter = 0;
}

<tr>
    @foreach (ManageOffers offer in @Model)
    {
        if (counter != 0 && counter % 3 == 0)
        {
        @:</tr>
        @:<tr>
        }
        counter++;
                <td>
                    <div class="item">
                        <div class="card" id="@offer.Title" style="width:auto">
                            @if (offer.Category.ToString() == "Home")
                            {
                                <img class="card-img-top" src="~/Pictures/home.png" alt="Card image" style="width:50%;display: block;
                          margin-left: auto; margin-right: auto;">
                            }
                            else if (offer.Category.ToString() == "Tutoring")
                            {
                                <img class="card-img-top" src="~/Pictures/tutoring.png" alt="Card image" style="width:50%;display: block;
                          margin-left: auto; margin-right: auto;">
                            }
                            else if (offer.Category.ToString() == "IT")
                            {
                                <img class="card-img-top" src="~/Pictures/it.png" alt="Card image" style="width:50%;display: block;
                          margin-left: auto; margin-right: auto;">
                            }
                            else if (offer.Category.ToString() == "Repairs")
                            {
                                <img class="card-img-top" src="~/Pictures/repairs.png" alt="Card image" style="width:50%;display: block;
                          margin-left: auto; margin-right: auto;">
                            }
                            else if (offer.Category.ToString() == "Architecture")
                            {
                                <img class="card-img-top" src="~/Pictures/architecture.png" alt="Card image" style="width:50%;display: block;
                          margin-left: auto; margin-right: auto;">
                            }
                            else if (offer.Category.ToString() == "Media")
                            {
                                <img class="card-img-top" src="~/Pictures/media.png" alt="Card image" style="width:50%;display: block;
                          margin-left: auto; margin-right: auto;">
                            }
                            <div class="card-body" >
                                <h4 class="card-title" style="word-break:break-all">@offer.Title</h4>
                                <p class="card-text" style="word-break:break-all">@offer.Description</p>
                                <h4 class="price">@decimal.Round(offer.RatePerHour, 2, MidpointRounding.AwayFromZero) DKK/ hour</h4>
                                @Html.ActionLink("See Details", "ViewDetails", "ServiceOffer", new { id = offer.Id }, new { @class = "btn btn-primary" })
                            </div>

                        </div>
                    </div>
                </td>
    }
</tr>