@model MyWeb.Models.ManageOffers[]
@using MyWeb.Models
@{
    var counter = 0;
}

<div  style ="display: table-cell; "class="col-container">

    @foreach (ManageOffers offer in @Model)
    {
        if (counter != 0 && counter % 3 == 0)
        {

        @:</div>
        @:<div class="col-container">
        }
    counter++;



<div class="col">
    <div class="item">
        <div class="card" id="@offer.Title" style="width:auto">
            <img class="card-img-top" src="~/Pictures/male.png" alt="Card image" style="width:50%;display: block;
          margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <h4 class="card-title">@offer.Title</h4>
                <p class="card-text">@offer.Description</p>
                <h4 class="price">@offer.RatePerHour / hour</h4>
                @Html.ActionLink("See Details", "ViewDetails", "ServiceOffer", new { id= offer.Id },new { @class= "btn btn-primary" })
            </div>

        </div>
    </div>
</div>

    }



